/* Base styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.95);
}

.spacer {
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: #000;
    }

    header, footer {
        background-color: rgba(240, 240, 240, 0.95);
        color: #333;
    }

    nav ul li a {
        color: #333;
    }

    form button {
        background-color: #007bff;
        color: #fff;
        border: none;
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    header, footer {
        background-color: rgba(51, 51, 51, 0.95);
        color: #fff;
    }

    nav ul li a {
        color: #fff;
    }

    form button {
        background-color: #007bff;
        color: #fff;
        border: none;
    }
}

/* eInk Mode Styles */
.eink-mode, .eink-mode * {
    background-image: none !important; /* Remove all background images */
    background-color: #FFFFFF !important; /* Set background to white */
    color: #000000 !important; /* Set text color to black */
}

.eink-mode nav ul li a, .eink-mode footer a {
    color: #000000 !important; /* Ensure links are also black */
}

/* Glass effect style */
.glass-effect {
    background: rgba(255, 255, 255, 0.1); /* Light background for the glass effect */
    backdrop-filter: blur(10px); /* Blur effect for glass */
    border-radius: 10px; /* Optional: rounded corners */
    padding: 20px; /* Padding inside the glass effect container */
}

/* Image adjustment styles */
.image-adjust {
    transition: filter 0.3s ease; /* Smooth transition for filter changes */
}

/* Light mode image adjustments */
@media (prefers-color-scheme: light) {
    .image-adjust {
        filter: brightness(120%) contrast(100%); /* Brighter in light mode */
    }
}

/* Dark mode image adjustments */
@media (prefers-color-scheme: dark) {
    .image-adjust {
        filter: brightness(50%) contrast(150%); /* Darker and higher contrast in dark mode */
    }
}
