/* Base styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: #000;
    }

    header, footer {
        background-color: #f0f0f0;
        color: #333;
    }

    nav ul li a {
        color: #333;
    }

    form button {
        background-color: #007bff;
        color: #fff;
        border: none;
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    header, footer {
        background-color: #333;
        color: #fff;
    }

    nav ul li a {
        color: #fff;
    }

    form button {
        background-color: #007bff;
        color: #fff;
        border: none;
    }
}
